<!-- this is a list of all routines in the user's  data -->
<!-- views/routines.ejs -->

<% include partials/head %>
<% include partials/header %>

<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Routines</h1>
    </div>
  
    <% for(var i=0; i<myRoutines.length; i++) {%>
    <div class="row">
       <h2><%= myRoutines[i].name %></h2>
       <p><%= myRoutines[i].description %></p>
       <ul>
            <% for(var j=0; j<myRoutines[i].workouts.length; j++) {%>
                <li><a href="/routine/<%= i %>/workout/<%= j %>"> <%= myRoutines[i].workouts[j].name %></a></li>
            <% } %>
        </ul>
    </div>
    <% } %>
            
    

</div>
</body>
<% include partials/footer %>