<!-- views/routine.ejs -->
<% include partials/head %>
<% include partials/header %>

<body>
<div class="container">

    <div class="page-header text-center">
        <h1><%= routine.name %></h1>
    </div>
    
    <% for(var i=0; i<routine.movements.length; i++) {%>
    <%= routine.movements[i].complete = [] %> 
    <div class="row">
        
            <p><%= routine.movements[i].movement.name %></p>
            <p>
                <%= routine.movements[i].sets %> x <%= routine.movements[i].reps %>
                <a href="<%= routine.movements[i].movement.video %>"<i class="fa fa-youtube-play"></i></a>
        </p>
        
        
        <% for(var j=0; j<routine.movements[i].sets; j++) {%>
            <% if (routine.movements[i].complete[j]) { %>
                <div onclick="" class="set-bubble" style="display:inline-block;width:30px; height:30px; background: #333333; border:2px solid #333333; border-radius:10px;"></div>
            <% } %>
            <% if (!routine.movements[i].complete[j]) { %>
            <div onclick="<%= routine.movements[i].complete.push({j:routine.movements[i].reps}) %>" class="set-bubble" style="display:inline-block;width:30px; height:30px; border:2px solid #333333; border-radius:10px;"></div>
            <% } %>
        <% } %>
    </div>
    <% } %>

</div>

</body>

<% include partials/footer %>